html {
    --black: #000;
    --black-light: #181818;

    --grey: #222;
    --grey-light: #333;

    --primary: #d176d6;
    --primary-dark: #7a52cc;

    --secondary: #1BDFEB;

    --food: #F78D0C;
}

body {
    background: var(--black-light);
}

main {
    background-color: var(--grey);
    border-color: var(--grey-light);
}

h2 {
    color: var(--primary);
}

h3 {
    color: var(--primary-dark);
}

a {
    color: var(--black);
}

button {
    background-color: transparent;
}

#screen {
    background-color: var(--black);
    border-color: var(--grey-light);
}

#score-counter {
    color: var(--secondary);
    text-shadow: 0 0 10px var(--primary);
    background-color: var(--black-light);
    border-color: var(--grey-light);
}

#score-total {
    color: var(--secondary);
    text-shadow: 0 0 10px var(--secondary);
}

.btn {
    color: var(--primary);
}

.btn:hover {
    text-shadow: 0 0 10px var(--primary);
}

.link:hover {
    opacity: 0.8;
}

.control {
    color: var(--primary);
}

.arrow {
    color: var(--primary-dark);
}

.backlit-secondary {
    box-shadow: 0 0 24px 4px var(--secondary);
    transition: none;
}

.backlit-primary {
    box-shadow: 0 0 24px 4px var(--primary);
    transition: none;
}
