html {
    --dim: 16;
}

main {
    width: 85rem;
    height: 85rem;
    margin: auto;
    padding: 4rem;
    border-width: 5px;
    border-radius: 30px;
}

section {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in;
    z-index: 1;
}

#screen {
    position: relative;
    width: 100%;
    height: 100%;
    border-width: 5px;
    border-radius: 15px;
    overflow: hidden;
}

#menu {
    padding-top: 70%;
    background-image: url('../images/snake-retro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#game {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

#score-counter {
    transition: box-shadow 1s ease;
}

.hide-cursor {
    cursor: none;
}

.hide {
    transition: none;
    opacity: 0;
    z-index: 0;
}

.backlit {
    transition: box-shadow 1s ease;
}

.backlit-pink {
    transition: none;
}

.backlit-teal {
    transition: none;
}

.backlit-text {
    transition: none;
}
