* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
    font-family: inherit;
}

html {
    --desktop-width: 85rem;
    --mobile-width: 96vw;

    font-family: "Silkscreen", cursive;
    font-size: 1vmin;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

main {
    width: var(--desktop-width);
    height: var(--desktop-width);
    margin: 1rem auto;
    padding: 4rem;
    border-width: 5px;
    border-radius: 30px;
    transition: box-shadow 1s ease;
}

footer {
    display: flex;
    justify-content: space-between;
    width: var(--desktop-width);
    margin: 1rem auto;
}

section {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5rem 0;
    transition: opacity 0.3s ease-in;
    z-index: 1;
}

h1 {
    font-size: 0;
}

h2 {
    font-size: 8em;
}

h3 {
    font-size: 6em;
}

p {
    font-size: 1em;
}

img {
    height: 4em;
}

#screen {
    position: relative;
    width: 100%;
    height: 100%;
    border-width: 5px;
    border-radius: 15px;
    overflow: hidden;
}

#start {
    justify-content: flex-end;
    background-image: url('../images/snake-retro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#game {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

#score-counter {
    position: absolute;
    text-align: center;
    padding: 1rem 6rem;
    border-style: solid;
    border-width: 7px;
    border-radius: 10px;
}

#score {
    justify-content: center;
}

#score div {
    text-align: center;
}

.hide-cursor {
    cursor: none;
}

.hide {
    transition: none;
    opacity: 0;
    z-index: 0;
}

.control {
    font-size: 8em;
    margin: 0 1rem;
}

.swipe-control {
    display: none;
}

.screen-btn {
    margin-top: 2rem;
}
