html {
    --dim: 16;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    width: 85rem;
    height: 85rem;
    margin: 1rem auto;
    padding: 4rem;
    border-width: 5px;
    border-radius: 30px;
    transition: box-shadow 1s ease;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 85rem;
    margin: 1rem auto;
}

section {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in;
    z-index: 1;
}

img {
    height: 4em;
}

#screen {
    position: relative;
    width: 100%;
    height: 100%;
    border-width: 5px;
    border-radius: 15px;
    overflow: hidden;
}

#menu {
    padding-top: 70%;
    background-image: url('../images/snake-retro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#game {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

#score-counter {
    position: absolute;
}

.hide-cursor {
    cursor: none;
}

.hide {
    transition: none;
    opacity: 0;
    z-index: 0;
}

.swipe-control {
    display: none;
}
