.row {
    display: flex;
    width: 100%;
    height: calc(100% / 16);
}

.col {
    display: flex;
    flex-direction: column;
    width: calc(100% / 16);
    height: 100%;
}

.btn {
    font-size: 4em;
    cursor: pointer;
}
