* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Silkscreen", cursive;
}

html {
    --grey: #222;
    --grey-light: #333;
    --black: #000;
    --black-light: #181818;
    --teal: #1BDFEB;
    --teal-dark: #0F8187;
    --pink: #FF87FF;
    --orange: #F78D0C;

    --dim: 16;

    font-size: 1vmin;
}

h1 {
    font-size: 0;
}

h2 {
    font-size: 8em;
    color: var(--teal);
}

h3 {
    font-size: 6em;
    color: var(--teal-dark);
}

p {
    font-size: 8em;
}

a {
    color: var(--black);
}

button {
    background: transparent;
    border: 0;
    cursor: none;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: var(--black-light);
    overflow: hidden;

    /*
    background-image: url('../assets/retro-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    */
}

main {
    width: 85rem;
    height: 85rem;
    margin: auto;
    padding: 4rem;
    background-color: var(--grey);
    border: 5px solid var(--grey-light);
    border-radius: 30px;
    transition: box-shadow 1s ease;
}

.backlit-pink {
    box-shadow: 0 0 24px 4px var(--pink);
    transition: none;
}

.backlit-teal {
    box-shadow: 0 0 24px 4px var(--teal);
    transition: none;
}

#screen {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--black);
    border: 5px solid var(--grey-light);
    border-radius: 15px;
    overflow: hidden;
}

.message {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in;
    z-index: 1;
}

#menu {
    padding-top: 70%;
    background-image: url('../images/snake-retro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#score-counter {
    color: var(--pink);
    transition: box-shadow 1s ease;
}

.backlit-score {
    text-shadow: 0 0 10px var(--pink);
    transition: none;
}

#score {
    color: var(--pink);
}

.btn {
    height: 40px;
    font-size: 4em;
    color: var(--teal);
}

.btn:hover {
    color: var(--pink);
    text-shadow: 0 0 10px var(--teal);
}

#game {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.hide-cursor {
    cursor: none;
}

.hide {
    transition: none;
    opacity: 0;
    z-index: 0;
}

.row {
    display: flex;
    width: 100%;
    height: calc(100% / var(--dim));
}

.col {
    display: flex;
    flex-direction: column;
    width: calc(100% / var(--dim));
    height: 100%;
}

.arrow {
    color: var(--teal-dark);
}

.control {
    color: var(--teal);
}
