@media (max-width: 768px) {
    html {
        font-size: 2vw;
    }

    h2 {
        font-size: 4em;
    }

    h3 {
        font-size: 3em;
    }

    p {
        font-size: 4em;
    }

    main {
        width: 96%;
        margin-top: 4rem;
        padding: 10px;
    }
}
