@media (max-width: 768px) {
    html {
        font-size: 2vw;
    }
    
    body {
        justify-content: flex-start;
    }
    
    main {
        width: 96%;
        margin-top: 4rem;
        padding: 10px;
    }

    footer {
        width: 96%;
    }

    h2 {
        font-size: 4em;
    }

    h3 {
        font-size: 3em;
    }

    p {
        font-size: 4em;
    }
}
