@media (max-width: 768px) {
    h2 {
        font-size: 4em;
    }

    h3 {
        font-size: 3em;
    }

    p {
        font-size: 4em;
    }

    main {
        width: 98%;
        padding: 10px;
    }
}
